<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EDICommons.Properties.Settings.envl_254_test" connectionString="server=192.168.1.254;user id=viva_envl;password=Xjg8LJFJeGEk9y9HRr!zKCEyrPeRCvUWm;database=vivadata4;persistsecurityinfo=True;Allow User Variables=True" />
    <add name="EDICommons.Properties.Settings.envl_253_test" connectionString="server=192.168.1.254;user id=envl_web;password=7Cf!688ZFFYSvMDywNmcPxrwVMbdxVkQQ;database=envl_test;Allow User Variables=True" />
    <add name="EDICommons.Properties.Settings.envl_253_live" connectionString="server=192.168.1.254;user id=envl_web;password=7Cf!688ZFFYSvMDywNmcPxrwVMbdxVkQQ;database=envl_clients;Allow User Variables=True" />
    <add name="EDICommons.Properties.Settings.envl_254_live" connectionString="server=192.168.1.254;user id=viva_envl;password=Xjg8LJFJeGEk9y9HRr!zKCEyrPeRCvUWm;database=viva_env;persistsecurityinfo=True;Allow User Variables=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>